<div class="h-screen flex flex-col p-6 gap-4.5">
  <div class="self-end pr-10">
    <button
      routerLink = '/new'
      class="bg-neutral/50 text-neutral-content border-primary/25 btn btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-lg">
      Add new timesheet</button>
  </div>
  <div class="relative h-1/4 justify-end p-6 bg-primary/20 backdrop-blur-2xl rounded-box border border-primary/30 text-primary-content shadow-lg">
    <h1 class="text-3xl font-bold">Timesheets</h1>
    <p class="opacity-80 mt-2">Your daily and weekly working hours are shown below.</p>

    <form #searchForm (ngSubmit)="onSearch(startDate.value, endDate.value)">
      <div class="absolute bottom-0 right-0 p-10">
        <div class="flex flex-row items-center gap-7.5">

          <span class="whitespace-nowrap">Start Date</span>
          <input #startDate type="date" required class="input validator bg-primary/20 backdrop-blur-2xl rounded-box border border-primary/30 text-primary-content shadow-sm" />
          <span class="whitespace-nowrap">End Date</span>
          <input #endDate type="date" required class="input validator bg-primary/20 backdrop-blur-2xl rounded-box border border-primary/30 text-primary-content shadow-sm" />
          <button type="submit" class="btn btn-circle bg-primary/20 backdrop-blur-2xl border border-primary/30 text-primary-content shadow-sm hover:bg-primary/40">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="h-[1em] opacity-70">
              <path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/>
            </svg>
          </button>
        </div>
      </div>
    </form>

  </div>

    <div class="card w-full bg-primary/10 backdrop-blur-2xl border border-primary/30 text-primary-content overflow-hidden">
      <div class="overflow-x-auto">
        <table class="table">

          <thead class="bg-primary/20 text-primary-content font-bold border-b border-primary/30">
          <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Edit</th>
          </tr>
          </thead>

          @if(!isLoading())
          {
            <tbody>
              @for (sheet of timesheets(); track $index){
                <tr class="hover:bg-primary/20 transition-colors border-b border-primary/30/50">
                  <td>{{sheet.user.username}}</td>
                  <td>{{sheet.date}}</td>
                  <td>{{sheet.description}}</td>
                  <td>{{sheet.startTime}}</td>
                  <td>{{sheet.endTime}}</td>
                  <td>
                    <button
                      (click)="onUpdate(sheet.id)"
                      class="btn btn-xs btn-outline btn-primary">
                      Edit
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          }
          @else
          {
            <tbody>
              @for (row of [1,2,3,4,5,6,7,8,9,10]; track $index) {
                <tr class="border-b border-primary/30/50">
                  <td><div class="skeleton h-4 w-20 bg-primary/20"></div></td>
                  <td><div class="skeleton h-4 w-24 bg-primary/20"></div></td>
                  <td><div class="skeleton h-4 w-64 bg-primary/20"></div></td>
                  <td><div class="skeleton h-4 w-16 bg-primary/20"></div></td>
                  <td><div class="skeleton h-4 w-16 bg-primary/20"></div></td>
                  <td><div class="skeleton h-4 w-12 bg-primary/20"></div></td>
                </tr>
              }
            </tbody>
          }

        </table>

      </div>
    </div>

  <div class="flex justify-center mt-6">
    <div class="join shadow-xl backdrop-blur-2xl rounded-xl overflow-hidden">
      @for(page of pageNumbers(); track $index){
        <button
          class = "join-item btn text-primary-content border-none transition-all duration-300"
          [ngClass]="page === currentPage() ? 'btn-active bg-primary hover:bg-primary text-white' : 'bg-primary/10 hover:bg-primary/30'"
          (click)="loadPage(page)"
        >{{page + 1}}</button>
      }
    </div>
  </div>
</div>
